.SellingWanted-On {
    background-color: #E3DFFF;
    border:#3D3A4B solid 10px;
    height: 600px;
    width: 600px;
    position: fixed;
    top: 200px;
    left: 800px;
}
.SellingWanted-Off {
    display: none;
}
